extends layout

block content
  html
  head
  title API Project One --Rommel Dominguez
  body
  h1 Unix Time Stamp Microservice 
  h2 by Rommel Dominguez
  p This is how you do it
  code www.website.acme/May 13, 2017
  br
  code www.website.acme/1494633660
  p JSON Form Of Our Output
  code { "unix": 1494633660, "natural": May 13, 2017}
  
